.footer {
  position: fixed;
  left: 150px;
  bottom: 0;
  width: 100%;
  background-color: #90a4ad;
  color: white;
  text-align: center;
  z-index: 1;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 2;
}
.block-footer-data {
  position: absolute;
  bottom: 10px;
  right: 170px;
  color: white;
}
nav#block-footer ul.menu--footer li {
  float: left;
}
nav#block-footer ul.menu--footer li a {
  color: white;
}
nav#block-footer ul.menu--footer li a:hover,
nav#block-footer ul.menu--footer li a:focus {
  background-color: transparent;
  text-decoration: underline;
}
nav#block-footer ul.menu--footer li:not(.last):after {
  content: "|";
  color: white;
  position: absolute;
  bottom: 12px;
  right: 0px;
}
