.upper-header {
  background-color: #1186e3;
  height: 45px;
  top: 0;
  z-index: 1;
}
.upper-header .region-upper-header {
  display: flex;
  justify-content: flex-end;
}
.upper-header .region-upper-header .logo {
  position: absolute;
  left: 45px;
  top: -5px;
}
.upper-header .region-upper-header .logo img {
  height: 40px;
  width: 40px;
}
.upper-header .region-upper-header .block-views-blockwelcome-block-1 .views-field-name {
  margin-top: 1em;
  margin-right: 1em;
}
.upper-header .region-upper-header .block-views-blockwelcome-block-1 .views-field-name .field-content {
  color: white;
}
.upper-header .region-upper-header .block-views-blockwelcome-block-1 .views-field-name .field-content a {
  color: white;
}
.upper-header .region-upper-header .block-private-message {
  width: 8em;
  top: 0.5em;
}
.upper-header .region-upper-header .block-private-message .private-message-notification-wrapper img {
  display: none;
}
.upper-header .region-upper-header .block-private-message .private-message-notification-wrapper .private-message-page-link {
  top: 5px;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
.upper-header .region-upper-header .block-private-message .private-message-notification-wrapper:after {
  content: "Messages";
  position: absolute;
  margin-left: 30px;
  color: white;
  top: 0.5em;
}
.upper-header .region-upper-header nav#block-sakhealth-account-menu {
  z-index: 1;
}
.upper-header .region-upper-header nav#block-sakhealth-account-menu ul li a {
  color: white;
  padding-top: 13px;
}
.upper-header .region-upper-header nav#block-sakhealth-account-menu ul li a:hover,
.upper-header .region-upper-header nav#block-sakhealth-account-menu ul li a:focus {
  background: transparent;
}
.navigation-menu {
  background-color: #273038;
  border-color: #273038;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0em 2em;
  width: 150px;
  max-height: calc(100vh - 0rem);
  overflow-y: auto;
  overflow-x: hidden;
}
.navigation-menu ul.menu--main {
  margin-top: 60px;
}
.navigation-menu ul.menu--main li {
  height: 72px;
  width: 120px;
  margin-bottom: 10px;
}
.navigation-menu ul.menu--main li a {
  text-align: center;
  padding: 30px 0px 0px 0px;
  color: white;
  height: 100% !important;
  width: 100% !important;
  background-repeat: no-repeat;
  display: block;
  left: -20px;
}
.navigation-menu ul.menu--main li.expanded a:hover,
.navigation-menu ul.menu--main li.expanded a:focus {
  background-color: #273038;
}
.navigation-menu ul.menu--main li.expanded a .caret {
  border-left: 4px dashed;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.navigation-menu ul.menu--main li.expanded ul.dropdown-menu {
  background-color: #273038;
  top: 0em;
  left: 100px;
}
.navigation-menu ul.menu--main li.expanded ul.dropdown-menu li {
  height: 50px;
}
.navigation-menu ul.menu--main li.expanded ul.dropdown-menu li a {
  padding-top: 10px;
  background: none;
}
.navigation-menu ul.menu--main li a[href="/homepage"] {
  background: url("../images/navigation-sprites-min.png") no-repeat;
  background-position: center 5px;
}
.navigation-menu ul.menu--main li a[href="/homepage"]:hover {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/navigation-sprites-min.png") no-repeat 50% 5px, url("../images/activ-nav-bg.png") no-repeat center;
}
.navigation-menu ul.menu--main li a[href="/homepage"].is-active {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/navigation-sprites-min.png") no-repeat 50% 5px, url("../images/activ-nav-bg.png") no-repeat center;
}
.navigation-menu ul.menu--main li a[href="/favourites-list"] {
  background: url("../images/star.png") no-repeat;
  background-size: 30% 45%;
  background-position: top;
}
.navigation-menu ul.menu--main li a[href="/favourites-list"]:hover {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/star.png") no-repeat top, url("../images/activ-nav-bg.png") no-repeat center;
  background-size: 30% 45%, cover;
}
.navigation-menu ul.menu--main li a[href="/favourites-list"].is-active {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/star.png") no-repeat top, url("../images/activ-nav-bg.png") no-repeat center;
  background-size: 30% 45%, cover;
}
.navigation-menu ul.menu--main li a[href="/my-appointments"],
.navigation-menu ul.menu--main li a[href="/hcp-appointments"] {
  background: url("../images/navigation-sprites-min.png") no-repeat;
  background-position: center -270px;
}
.navigation-menu ul.menu--main li a[href="/my-appointments"]:hover,
.navigation-menu ul.menu--main li a[href="/hcp-appointments"]:hover {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/navigation-sprites-min.png") no-repeat 50% -266px, url("../images/activ-nav-bg.png") no-repeat center;
}
.navigation-menu ul.menu--main li a[href="/my-appointments"].is-active,
.navigation-menu ul.menu--main li a[href="/hcp-appointments"].is-active {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/navigation-sprites-min.png") no-repeat 50% -266px, url("../images/activ-nav-bg.png") no-repeat center;
}
.navigation-menu ul.menu--main li a[href="/symtoms-form"] {
  background: url("../images/navigation-sprites-min.png") no-repeat;
  background-position: center -805px;
}
.navigation-menu ul.menu--main li a[href="/symtoms-form"]:hover {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/navigation-sprites-min.png") no-repeat 50% -802px, url("../images/activ-nav-bg.png") no-repeat center;
}
.navigation-menu ul.menu--main li a[href="/symtoms-form"].is-active {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/navigation-sprites-min.png") no-repeat 50% -802px, url("../images/activ-nav-bg.png") no-repeat center;
}
.navigation-menu ul.menu--main li a[href="/private_messages"] {
  background: url("../images/navigation-sprites-min.png") no-repeat;
  background-position: center -88px;
}
.navigation-menu ul.menu--main li a[href="/private_messages"]:hover {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/navigation-sprites-min.png") no-repeat 50% -88px, url("../images/activ-nav-bg.png") no-repeat center;
}
.navigation-menu ul.menu--main li a[href="/private_messages"].is-active {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/navigation-sprites-min.png") no-repeat 50% -88px, url("../images/activ-nav-bg.png") no-repeat center;
}
.navigation-menu ul.menu--main li a[href="/todo-listing"] {
  background: url("../images/complete.png") no-repeat;
  background-size: 30% 45%;
  background-position: top;
}
.navigation-menu ul.menu--main li a[href="/todo-listing"]:hover {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/complete.png") no-repeat top, url("../images/activ-nav-bg.png") no-repeat center;
  background-size: 30% 45%, cover;
}
.navigation-menu ul.menu--main li a[href="/todo-listing"].is-active {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/complete.png") no-repeat top, url("../images/activ-nav-bg.png") no-repeat center;
  background-size: 30% 45%, cover;
}
.navigation-menu ul.menu--main li a[href="/banner-listing"] {
  background: url("../images/slider.png") no-repeat;
  background-size: 30% 45%;
  background-position: top;
}
.navigation-menu ul.menu--main li a[href="/banner-listing"]:hover {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/slider.png") no-repeat top, url("../images/activ-nav-bg.png") no-repeat center;
  background-size: 30% 45%, cover;
}
.navigation-menu ul.menu--main li a[href="/banner-listing"].is-active {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/slider.png") no-repeat top, url("../images/activ-nav-bg.png") no-repeat center;
  background-size: 30% 45%, cover;
}
.navigation-menu ul.menu--main li a[href="/resources-listing"] {
  background: url("../images/reunion.png") no-repeat;
  background-size: 30% 45%;
  background-position: top;
}
.navigation-menu ul.menu--main li a[href="/resources-listing"]:hover {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/reunion.png") no-repeat top, url("../images/activ-nav-bg.png") no-repeat center;
  background-size: 30% 45%, cover;
}
.navigation-menu ul.menu--main li a[href="/resources-listing"].is-active {
  position: absolute;
  top: 0;
  left: -20px;
  background: url("../images/reunion.png") no-repeat top, url("../images/activ-nav-bg.png") no-repeat center;
  background-size: 30% 45%, cover;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #273038;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}
section.block-views-blockadditional-resources-block-1 h2.block-title,
section.block-views-blockmy-favourites-block-1 h2.block-title,
section.block-views-blockto-do-list-block-1 h2.block-title,
section.block-total-appointments h2.block-title,
.block-views-blockrecent-providers-block-1 h2.block-title,
.block-views-blockrecent-message-block-1 h2.block-title {
  font-size: 22px;
  padding-bottom: 5px;
  font-weight: 600;
  border-bottom: 1px solid #f2f2f2;
  background-size: 10% 8px;
  margin-bottom: 20px;
}
#block-basetheme-diagnosis-block a {
  background: #6db3f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de', GradientType=0);
  /* IE6-9 */
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
}
.view-favourites-list .view-header,
.view-my-appointments .view-header,
.view-todo-listing .view-header,
.view-banner-listing .view-header,
.view-resources-listing .view-header,
.view-banner-listing .view-header,
.view-resources-listing .view-header {
  display: flex;
  justify-content: space-between;
  background-color: #445965;
  border-radius: 10px;
}
.view-favourites-list .view-header h2.page-title,
.view-my-appointments .view-header h2.page-title,
.view-todo-listing .view-header h2.page-title,
.view-banner-listing .view-header h2.page-title,
.view-resources-listing .view-header h2.page-title,
.view-banner-listing .view-header h2.page-title,
.view-resources-listing .view-header h2.page-title {
  font-size: 25px;
  margin-top: 10px;
  color: white;
  padding-left: 10px;
}
.view-favourites-list .view-header .add-fav,
.view-my-appointments .view-header .add-fav,
.view-todo-listing .view-header .add-fav,
.view-banner-listing .view-header .add-fav,
.view-resources-listing .view-header .add-fav,
.view-banner-listing .view-header .add-fav,
.view-resources-listing .view-header .add-fav,
.view-favourites-list .view-header .appointments-links,
.view-my-appointments .view-header .appointments-links,
.view-todo-listing .view-header .appointments-links,
.view-banner-listing .view-header .appointments-links,
.view-resources-listing .view-header .appointments-links,
.view-banner-listing .view-header .appointments-links,
.view-resources-listing .view-header .appointments-links,
.view-favourites-list .view-header .confirm-appointment,
.view-my-appointments .view-header .confirm-appointment,
.view-todo-listing .view-header .confirm-appointment,
.view-banner-listing .view-header .confirm-appointment,
.view-resources-listing .view-header .confirm-appointment,
.view-banner-listing .view-header .confirm-appointment,
.view-resources-listing .view-header .confirm-appointment,
.view-favourites-list .view-header .todo-list,
.view-my-appointments .view-header .todo-list,
.view-todo-listing .view-header .todo-list,
.view-banner-listing .view-header .todo-list,
.view-resources-listing .view-header .todo-list,
.view-banner-listing .view-header .todo-list,
.view-resources-listing .view-header .todo-list,
.view-favourites-list .view-header .add-banner,
.view-my-appointments .view-header .add-banner,
.view-todo-listing .view-header .add-banner,
.view-banner-listing .view-header .add-banner,
.view-resources-listing .view-header .add-banner,
.view-banner-listing .view-header .add-banner,
.view-resources-listing .view-header .add-banner,
.view-favourites-list .view-header .add-resource,
.view-my-appointments .view-header .add-resource,
.view-todo-listing .view-header .add-resource,
.view-banner-listing .view-header .add-resource,
.view-resources-listing .view-header .add-resource,
.view-banner-listing .view-header .add-resource,
.view-resources-listing .view-header .add-resource {
  margin-top: 14px;
}
.view-favourites-list .view-header .add-fav a,
.view-my-appointments .view-header .add-fav a,
.view-todo-listing .view-header .add-fav a,
.view-banner-listing .view-header .add-fav a,
.view-resources-listing .view-header .add-fav a,
.view-banner-listing .view-header .add-fav a,
.view-resources-listing .view-header .add-fav a,
.view-favourites-list .view-header .appointments-links a,
.view-my-appointments .view-header .appointments-links a,
.view-todo-listing .view-header .appointments-links a,
.view-banner-listing .view-header .appointments-links a,
.view-resources-listing .view-header .appointments-links a,
.view-banner-listing .view-header .appointments-links a,
.view-resources-listing .view-header .appointments-links a,
.view-favourites-list .view-header .confirm-appointment a,
.view-my-appointments .view-header .confirm-appointment a,
.view-todo-listing .view-header .confirm-appointment a,
.view-banner-listing .view-header .confirm-appointment a,
.view-resources-listing .view-header .confirm-appointment a,
.view-banner-listing .view-header .confirm-appointment a,
.view-resources-listing .view-header .confirm-appointment a,
.view-favourites-list .view-header .todo-list a,
.view-my-appointments .view-header .todo-list a,
.view-todo-listing .view-header .todo-list a,
.view-banner-listing .view-header .todo-list a,
.view-resources-listing .view-header .todo-list a,
.view-banner-listing .view-header .todo-list a,
.view-resources-listing .view-header .todo-list a,
.view-favourites-list .view-header .add-banner a,
.view-my-appointments .view-header .add-banner a,
.view-todo-listing .view-header .add-banner a,
.view-banner-listing .view-header .add-banner a,
.view-resources-listing .view-header .add-banner a,
.view-banner-listing .view-header .add-banner a,
.view-resources-listing .view-header .add-banner a,
.view-favourites-list .view-header .add-resource a,
.view-my-appointments .view-header .add-resource a,
.view-todo-listing .view-header .add-resource a,
.view-banner-listing .view-header .add-resource a,
.view-resources-listing .view-header .add-resource a,
.view-banner-listing .view-header .add-resource a,
.view-resources-listing .view-header .add-resource a {
  background: #6db3f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de', GradientType=0);
  /* IE6-9 */
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}
.view-favourites-list .view-content,
.view-my-appointments .view-content,
.view-todo-listing .view-content,
.view-banner-listing .view-content,
.view-resources-listing .view-content,
.view-banner-listing .view-content,
.view-resources-listing .view-content {
  margin-top: 20px;
}
.view-favourites-list .view-empty,
.view-my-appointments .view-empty,
.view-todo-listing .view-empty,
.view-banner-listing .view-empty,
.view-resources-listing .view-empty,
.view-banner-listing .view-empty,
.view-resources-listing .view-empty {
  text-align: center;
  font-weight: bold;
  margin-top: 5em;
}
.view-favourites-list .fc-center h2,
.view-my-appointments .fc-center h2,
.view-todo-listing .fc-center h2,
.view-banner-listing .fc-center h2,
.view-resources-listing .fc-center h2,
.view-banner-listing .fc-center h2,
.view-resources-listing .fc-center h2 {
  font-size: 20px;
}
.no-result-view {
  text-align: center;
  font-weight: bold;
  margin-top: 1em;
}
.block-private-message-inbox-block .field--name-owner {
  text-align: center;
  font-weight: bold;
}
.layout--twocol .layout__region--first {
  flex: 0 1 48%;
}
.layout--twocol .layout__region--second {
  flex: 0 1 48%;
}
.page-content {
  position: absolute;
  top: 4em;
  left: 11em;
}
.region-content h1.page-header {
  border-radius: 10px;
  background-color: #445965;
  text-align: left;
  color: white;
  padding-left: 10px;
}
.page-header {
  border-bottom: none;
}
.page-header nav.tabs {
  position: absolute;
  left: 15em;
  width: 100%;
  top: 2em;
}
.page-header ul.tabs--primary {
  width: 60%;
}
.diagnose-history {
  position: absolute;
  right: 10em;
  top: 4em;
}
.block-views-blockbanner-view-block-1 .banner h2 {
  display: none;
}
.block-views-blockbanner-view-block-1 .banner .content {
  position: relative;
}
.block-views-blockbanner-view-block-1 .banner .content .field--name-field-banner-description {
  position: absolute;
  top: 10px;
  padding-left: 10px;
}
.block-views-blockbanner-view-block-1 .banner .content .field--name-field-banner-description .field--item {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 20px;
  font-weight: 800;
}
.block-views-blockbanner-view-block-1 .banner .content .field--name-field-banner-link {
  display: none;
}
.view-favourites-list .view-content table.table thead tr,
.view-pending-appointment-approvals .view-content table.table thead tr,
.view-todo-listing .view-content table.table thead tr,
.view-patient-pending-appointments .view-content table.table thead tr,
.view-banner-listing .view-content table.table thead tr,
.view-resources-listing .view-content table.table thead tr {
  background-color: #445965;
  color: white;
}
.node-my-favourite-edit-form,
.node-appointment-edit-form,
.node-todo-list-edit-form,
.node-banner-edit-form,
.node-additional-resource-edit-form,
.node-banner-delete-form {
  margin-top: 4em;
}
.page-header nav.tabs {
  z-index: 1;
}
.author {
  display: none;
}
.path-private-messages .page-content,
.path-private-message .page-content {
  display: flex;
}
.path-private-messages .page-content .region-mailbox,
.path-private-message .page-content .region-mailbox {
  width: 22%;
  float: left;
  margin-right: 14px;
}
.path-private-messages .page-content .region-mailbox .block-private-message h2.block-title,
.path-private-message .page-content .region-mailbox .block-private-message h2.block-title {
  background-color: lightgray;
  padding: 5px 10px;
  color: black;
  margin-top: 10px;
}
.path-private-messages .page-content .region-mailbox .block-private-message .private-message-thread,
.path-private-message .page-content .region-mailbox .block-private-message .private-message-thread {
  border: dotted lightgray 1px;
  padding: 0px;
  margin-top: 10px;
}
.path-private-messages .page-content .region-mailbox .block-private-message .private-message-thread .private-message-inbox .field--name-owner .field--label,
.path-private-message .page-content .region-mailbox .block-private-message .private-message-thread .private-message-inbox .field--name-owner .field--label {
  float: left;
  font-weight: bold;
  margin-right: 5px;
}
.path-private-messages .page-content .region-mailbox .block-private-message .private-message-thread .private-message-inbox .field--name-owner .field--item,
.path-private-message .page-content .region-mailbox .block-private-message .private-message-thread .private-message-inbox .field--name-owner .field--item {
  display: flex;
}
.path-private-messages .page-content .region-mailbox .block-private-message .private-message-thread .private-message-inbox .field--name-message .field--item p,
.path-private-message .page-content .region-mailbox .block-private-message .private-message-thread .private-message-inbox .field--name-message .field--item p {
  text-align: left;
}
.path-private-messages .page-content .region-mailbox .block-private-message .private-message-thread:hover,
.path-private-message .page-content .region-mailbox .block-private-message .private-message-thread:hover {
  background-color: #e2f0fb;
}
.path-private-messages .page-content .region-mailbox .block-private-message .private-message-thread .private-message-recipients,
.path-private-message .page-content .region-mailbox .block-private-message .private-message-thread .private-message-recipients {
  display: none;
}
.path-private-messages .page-content .region-mailbox .block-private-message .private-message-thread .private-message,
.path-private-message .page-content .region-mailbox .block-private-message .private-message-thread .private-message {
  border-left: 5px solid #1186e3;
  padding-left: 5px;
}
.path-private-messages .page-content .region-mailbox nav ul.menu--message li a,
.path-private-message .page-content .region-mailbox nav ul.menu--message li a {
  background: #6db3f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de', GradientType=0);
  /* IE6-9 */
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
.path-private-messages .page-content .region-mailbox nav ul.menu--message li a:hover,
.path-private-message .page-content .region-mailbox nav ul.menu--message li a:hover {
  text-decoration: underline;
}
.path-private-messages .page-content .region-content,
.path-private-message .page-content .region-content {
  border: 1px solid lightgray;
  padding: 10px;
  width: 75%;
  margin-top: 10px;
  float: right;
}
.path-private-messages .page-content .region-content #private-message-page .field--name-owner,
.path-private-message .page-content .region-content #private-message-page .field--name-owner {
  font-weight: bold;
}
.path-private-messages .page-content .region-content #private-message-page .private_message_thread_delete_link_wrapper,
.path-private-message .page-content .region-content #private-message-page .private_message_thread_delete_link_wrapper {
  right: 0;
  position: absolute;
}
.path-private-messages .page-content .region-content #private-message-page .private_message_thread_delete_link_wrapper a,
.path-private-message .page-content .region-content #private-message-page .private_message_thread_delete_link_wrapper a {
  background: #6db3f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de', GradientType=0);
  /* IE6-9 */
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}
.path-private-messages .page-content .region-content #private-message-page .field--name-private-messages,
.path-private-message .page-content .region-content #private-message-page .field--name-private-messages {
  margin-bottom: 30px;
}
.path-private-messages .page-content .region-content #private-message-page .field--name-private-messages #load-previous-messages-button-wrapper,
.path-private-message .page-content .region-content #private-message-page .field--name-private-messages #load-previous-messages-button-wrapper {
  border: none;
  margin-bottom: 10px;
}
.path-private-messages .page-content .region-content #private-message-page .field--name-private-messages #load-previous-messages-button-wrapper a,
.path-private-message .page-content .region-content #private-message-page .field--name-private-messages #load-previous-messages-button-wrapper a {
  font-size: 15px;
  text-decoration: underline;
}
.path-private-messages .page-content .region-content #private-message-page .field--name-private-messages .private-message-wrapper .private-message,
.path-private-message .page-content .region-content #private-message-page .field--name-private-messages .private-message-wrapper .private-message {
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 0px #bfbfbf;
  border: none;
}
.path-private-messages .page-content .region-content #private-message-page .field--name-private-messages .private-message-wrapper .field--name-owner,
.path-private-message .page-content .region-content #private-message-page .field--name-private-messages .private-message-wrapper .field--name-owner {
  background-color: #e2f0fb;
}
.path-private-messages .block-private-message-actions-block,
.path-private-message .block-private-message-actions-block {
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: 90px;
}
.path-private-messages .block-private-message-actions-block a,
.path-private-message .block-private-message-actions-block a {
  background: #6db3f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de', GradientType=0);
  /* IE6-9 */
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-right: 25px;
}
.alert-success {
  text-align: center;
  background-color: transparent;
  border-color: transparent;
}
.fc-unthemed td.fc-today {
  background-color: white;
}
.fc-time-grid-event {
  background-color: #018cce;
}
.block-views-blockto-do-list-block-1,
.block-views-blockbanner-view-block-1,
.block-views-blockrecent-providers-block-1 {
  width: 80%;
  margin-left: 6em;
}
.user-logged-in .form-section .region-content nav.tabs {
  background-color: #445965;
}
.user-logged-in .form-section .region-content nav.tabs ul.tabs--primary {
  background-color: #90a4ad;
}
.user-logged-in .form-section .region-content nav.tabs ul.tabs--primary li a {
  color: white;
}
.user-logged-in .form-section .region-content nav.tabs ul.tabs--primary li a:hover,
.user-logged-in .form-section .region-content nav.tabs ul.tabs--primary li a:focus {
  color: black;
}
.user-logged-in .form-section .region-content nav.tabs ul.tabs--primary li.active a {
  color: black;
}
.user-logged-in .form-section .region-content article .field--name-user-picture {
  padding: 10px;
}
.user-logged-in .form-section .region-content article .view-id-profiles {
  background-color: #e7f5fe;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-provider-date-of-birth,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-provider-address,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-office-phone-no,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-mobile-phone-no,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-npi,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-last-4-digit-of-ssn,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-pcp-name,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-address,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-date-of-birth,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-mrn,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-primary-phone-number,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-secondar {
  display: flex;
  width: max-content;
}
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-provider-date-of-birth .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-provider-address .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-office-phone-no .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-mobile-phone-no .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-npi .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-last-4-digit-of-ssn .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-pcp-name .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-address .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-date-of-birth .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-mrn .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-primary-phone-number .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-secondar .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-provider-date-of-birth .field--item,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-provider-address .field--item,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-office-phone-no .field--item,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-mobile-phone-no .field--item,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-npi .field--item,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-last-4-digit-of-ssn .field--item,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-pcp-name .field--item,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-address .field--item,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-date-of-birth .field--item,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-mrn .field--item,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-primary-phone-number .field--item,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-secondar .field--item {
  margin: 10px;
  font-size: 15px;
}
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-provider-date-of-birth .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-provider-address .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-office-phone-no .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-mobile-phone-no .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-npi .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-last-4-digit-of-ssn .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-pcp-name .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-address .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-date-of-birth .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-mrn .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-primary-phone-number .field--label,
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-secondar .field--label {
  width: max-content;
}
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-dose .field--label {
  margin-right: 5px;
}
.user-logged-in .form-section .region-content article .view-id-profiles .field--name-field-dose .field--item {
  float: left;
}
.page-node-type-appointment nav.tabs {
  background-color: #445965;
}
.page-node-type-appointment nav.tabs ul.tabs--primary {
  background-color: #445965;
}
.page-node-type-appointment nav.tabs ul.tabs--primary li a {
  color: white;
}
.page-node-type-appointment nav.tabs ul.tabs--primary li a:hover,
.page-node-type-appointment nav.tabs ul.tabs--primary li a:focus {
  color: black;
}
.page-node-type-appointment nav.tabs ul.tabs--primary li.active a {
  color: black;
}
.view-patient-profile,
.view-medical-history {
  margin-top: 10px;
}
.view-patient-profile .view-header,
.view-medical-history .view-header {
  margin-top: 25px;
  margin-bottom: 25px;
}
.view-patient-profile .view-header a[href*="/node/add/allergy"],
.view-medical-history .view-header a[href*="/node/add/allergy"],
.view-patient-profile .view-header a[href*="/node/add/medication"],
.view-medical-history .view-header a[href*="/node/add/medication"] {
  background: #6db3f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de', GradientType=0);
  /* IE6-9 */
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
}
.view-patient-profile .table-responsive table.table tr th,
.view-medical-history .table-responsive table.table tr th {
  background-color: #445965;
  color: white;
}
.field--name-field-onset-date,
.field--name-field-reaction,
.field--name-field-reaction-type,
.field--name-field-severity,
.field--name-field-allergy-status,
.field--name-field-allergy-type,
.field--name-field-duration,
.field--name-field-medication-end-date,
.field--name-field-frequency,
.field--name-field-instructions,
.field--name-field-medication-start-date,
.field--name-field-medication-status {
  display: flex;
  width: max-content;
}
.field--name-field-onset-date .field--label,
.field--name-field-reaction .field--label,
.field--name-field-reaction-type .field--label,
.field--name-field-severity .field--label,
.field--name-field-allergy-status .field--label,
.field--name-field-allergy-type .field--label,
.field--name-field-duration .field--label,
.field--name-field-medication-end-date .field--label,
.field--name-field-frequency .field--label,
.field--name-field-instructions .field--label,
.field--name-field-medication-start-date .field--label,
.field--name-field-medication-status .field--label,
.field--name-field-onset-date .field--item,
.field--name-field-reaction .field--item,
.field--name-field-reaction-type .field--item,
.field--name-field-severity .field--item,
.field--name-field-allergy-status .field--item,
.field--name-field-allergy-type .field--item,
.field--name-field-duration .field--item,
.field--name-field-medication-end-date .field--item,
.field--name-field-frequency .field--item,
.field--name-field-instructions .field--item,
.field--name-field-medication-start-date .field--item,
.field--name-field-medication-status .field--item {
  margin: 10px;
  font-size: 15px;
}
.field--name-field-onset-date .field--label,
.field--name-field-reaction .field--label,
.field--name-field-reaction-type .field--label,
.field--name-field-severity .field--label,
.field--name-field-allergy-status .field--label,
.field--name-field-allergy-type .field--label,
.field--name-field-duration .field--label,
.field--name-field-medication-end-date .field--label,
.field--name-field-frequency .field--label,
.field--name-field-instructions .field--label,
.field--name-field-medication-start-date .field--label,
.field--name-field-medication-status .field--label {
  width: max-content;
}
.field-collection-item--name-field-dose .content {
  display: flex;
}
.field-collection-item--name-field-dose .content .field--item {
  margin-right: 5px;
}
.page-node-type-appointment article.appointment {
  margin-top: 5px;
  width: 70%;
  float: left;
}
.page-node-type-appointment article.appointment .title {
  font-weight: bold;
  font-size: 15px;
  text-decoration: underline;
  margin-bottom: 5px;
}
.page-node-type-appointment .block-views-blockdiagnosis-history-block-1 {
  width: 28%;
  float: right;
}
.page-node-type-appointment .block-views-blockdiagnosis-history-block-1 .view-diagnosis-history .view-header {
  margin-top: 20px;
  margin-bottom: 20px;
}
.page-node-type-appointment .block-views-blockdiagnosis-history-block-1 .view-diagnosis-history .view-header a {
  background: #6db3f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de', GradientType=0);
  /* IE6-9 */
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
}
.page-node-type-diagnosis article.diagnosis {
  margin-top: 5px;
  width: 40%;
  float: left;
  padding: 15px;
}
.page-node-type-diagnosis .block-views-blockappointment-data-on-diagnosis-view-block-1 {
  width: 60%;
  float: right;
}
.page-node-type-diagnosis .block-views-blockappointment-data-on-diagnosis-view-block-1 h2.block-title {
  font-weight: bold;
  color: #273038;
  border-bottom: 1px solid #f2f2f2;
}
.user-logged-in h1.page-header {
  font-size: 25px;
  padding-top: 5px;
  margin-bottom: 10px;
}
.block-views-blockdiagnosis-history-block-1 h2.block-title {
  font-size: 21px;
  margin-top: 5px;
}
