.view-my-favourites .item-list {
  margin-left: -20px;
}
.view-my-favourites .item-list ul {
  display: flex;
  flex-wrap: wrap;
}
.view-my-favourites .item-list ul li {
  list-style: none;
  margin: 10px 10px 10px 0px;
}
.view-my-favourites .item-list ul li div.field-content {
  width: 120px;
  text-align: center;
  padding: 15px;
  height: 60px;
  border-radius: 10px;
}
.view-my-favourites .item-list ul li div.field-content a {
  color: white;
  font-weight: bold;
}
.view-my-favourites .item-list ul li div.field-content a:hover,
.view-my-favourites .item-list ul li div.field-content a:focus {
  text-decoration: none;
}
.view-my-favourites .item-list ul li:nth-child(odd) div.field-content {
  background: -moz-linear-gradient(345deg, #f48fc2 0%, #cb3978 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f48fc2), color-stop(100%, #cb3978));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(345deg, #f48fc2 0%, #cb3978 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(345deg, #f48fc2 0%, #cb3978 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(345deg, #f48fc2 0%, #cb3978 100%);
  /* ie10+ */
  background: linear-gradient(115deg, #f48fc2 0%, #cb3978 90%);
  /* w3c */
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F48FC2', endColorstr='#cb3978', GradientType=1)";
}
.view-my-favourites .item-list ul li:nth-child(even) div.field-content {
  background: -moz-linear-gradient(345deg, #51d0df 0%, #3285d1 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #51d0df), color-stop(100%, #3285d1));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(345deg, #51d0df 0%, #3285d1 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(345deg, #51d0df 0%, #3285d1 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(345deg, #51d0df 0%, #3285d1 100%);
  /* ie10+ */
  background: linear-gradient(115deg, #51d0df 0%, #3285d1 90%);
  /* w3c */
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#51d0df', endColorstr='#3285d1', GradientType=1)";
}
.view-additional-resources .table-responsive .table-bordered {
  border: none;
}
.view-additional-resources .table-responsive .table tbody tr td {
  border-top: none;
}
.view-additional-resources .table-responsive .table tbody tr td.views-field-field-resource-image {
  width: 20%;
  border: none;
}
.view-additional-resources .table-responsive .table tbody tr td.views-field-field-resource-description {
  width: 80%;
  border: none;
}
.view-additional-resources .table-responsive .table tbody tr td.views-field-field-resource-description a {
  line-height: 1.5rem;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}
.view-additional-resources .table-responsive .table tbody tr td.views-field-field-resource-description p {
  line-height: 1.5rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 16px;
}
.view-to-do-list .item-list ul {
  padding-left: 0em;
}
.view-to-do-list .item-list ul li {
  list-style: none;
  box-shadow: 0px 0px 15px 0px #bfbfbf;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
  overflow: auto;
  background-position: 20px 20px !important;
}
.view-to-do-list .item-list ul li .views-field-title {
  font-size: 15px;
}
.view-to-do-list .item-list ul li .views-field-field-start-date-and-time {
  float: left;
  margin-right: 20px;
  font-size: 12px;
  background-position: left;
}
.view-to-do-list .item-list ul li .views-field-field-start-date-and-time:before {
  content: "\e023";
  font-family: 'Glyphicons Halflings';
  position: absolute;
}
.view-to-do-list .item-list ul li .views-field-field-start-date-and-time .field-content {
  margin-left: 20px;
}
.block-appointment-summary-block {
  margin-left: -35px;
}
.block-appointment-summary-block ul {
  display: inline-flex;
}
.block-appointment-summary-block ul li {
  list-style: none;
  width: 180px;
  height: 85px;
  background-color: lightblue;
  border-radius: 10px;
  text-align: left;
  padding: 8px 20px;
  font-weight: bold;
  margin-right: 10px;
}
.block-appointment-summary-block ul li span.tvalue,
.block-appointment-summary-block ul li span.cvalue {
  display: block;
  font-size: 25px;
}
.block-appointment-summary-block ul li span.tvalue {
  color: palevioletred;
}
.block-appointment-summary-block ul li span.cvalue {
  color: purple;
}
.block-appointment-summary-block ul li span.confirmapp,
.block-appointment-summary-block ul li span.totalvisit {
  display: block;
  font-size: 13px;
}
