article.appointment {
  box-shadow: 0px 0px 10px 0px #bfbfbf;
  padding: 15px;
}
article.appointment .appointment-body {
  background-color: #e7f5fe;
  margin-bottom: 10px;
  padding: 10px 10px;
}
article.appointment .symptoms-details .title {
  font-weight: bold;
  margin-bottom: 5px;
}
.block-views-blockdiagnosis-history-block-1 h2 {
  background-color: #445965;
  color: white;
  text-align: center;
  padding: 5px;
}
.block-views-blockdiagnosis-history-block-1 .view-diagnosis-history td.views-field-title a {
  color: black;
  text-transform: uppercase;
}
.block-views-blockdiagnosis-history-block-1 .view-diagnosis-history td.views-field-uid a {
  color: black;
}
.block-views-blockappointment-data-on-create-diagnosis-block-1 h2 {
  text-align: center;
  padding: 5px;
}
.block-views-blockappointment-data-on-create-diagnosis-block-1 article.appointment {
  background-color: white;
}
.block-views-blockappointment-data-on-create-diagnosis-block-1 article.appointment h2 a span {
  color: black;
}
.block-views-blockappointment-data-on-create-diagnosis-block-1 article.appointment h2 a:hover {
  text-decoration: none;
}
.node-appointment-form .form-item-field-patient-symptoms-details-0-target-id,
.node-appointment-edit-form .form-item-field-patient-symptoms-details-0-target-id,
.node-diagnosis-form .form-item-field-patient-symptoms-details-0-target-id,
.node-appointment-form .form-item-field-current-appointment-0-target-id,
.node-appointment-edit-form .form-item-field-current-appointment-0-target-id,
.node-diagnosis-form .form-item-field-current-appointment-0-target-id {
  display: none;
}
.page-node-type-diagnosis .field--name-field-current-appointment {
  display: none;
}
